body {
  font-family: helvetica;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.status-bar {
  color: red;
  border-color: red;
  border-width: thick;
  height: 100px;
}

h1 {
  color: purple;
}
